*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #363636;
  color: #fff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

header {
  height: 90px; 
  z-index: 1;
}

header .container {
  padding: 20px;
  align-items: center;
  
}

.logo{
  width: 50px;
  height: 50px;
  flex-grow: 1;
  color: #fff;
  background-color: #fff;
  background: url("../img/svg/logo.svg");

  background-size: contain;
  background-repeat: no-repeat;
}

nav {
/*   margin: 0 30px;
 */
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
/*   padding: 0 30px; */
  
  
}

nav a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  margin: 0 15px;
  
}

.switch {
  margin-left: 15px;
}

.switch input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.switch label {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.switch label:first-child {
  color: #BDAE82;
}

.switch label:first-child::after {
  content: ' / '
}

.hero {
  width: 1440px;
  height: 910px;
  background: url('../img/bg.png');
}